/* shared style */
.text-light-gray {
  color: gray;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

/* header styles */
header {
  background-color: rgb(238, 214, 181);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  /* gap: 10px; */
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500px;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: black;
}
/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 400;
  color: #131313;
}
.banner-discription {
  color: #727272;
}
.btn-primary {
  background-color: orange;
  color: aliceblue;
  border-radius: 8px;
  padding: 20px 25px;
  cursor: pointer;
  border: 0;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}
main {
  max-width: 1440px;
  margin: 70px auto;
  border: 2px solid green;
}

/* teams style */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-title {
  font-size: 2.8rem;
}
.quick-list {
  color: rgb(89, 85, 85);
  font-weight: 500;
}

/* ------------------------------------------------------------------------- */
/* features section styles */
.features {
  /* color: orange; */
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.features-content-header{
  margin: 20px;
}

.features-content-header .section-title{
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-card {
  /* border: 1px solid green; */
  border-radius: 9px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  /* width: 300px; */
  font-family: Arial, sans-serif;
  margin: 20px;
}
.ten-years-badge{
  border:1px solid #28c86b;
  border-radius: 9px;
  background-color: #ff900e;
  width: 10rem;
  height: 5rem;
  padding: 10px;
  text-align: center;
  color: white;
  /* font-size: 1rem; */
  /* font-weight: 1000;
}

/* ----------------------------------------------------------------------- */

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-right: 70px;
  padding-left: 70px;
}

/* facts style */
/* facts card style */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  text-align: center;
  font-weight: 700;
  border: 1px solid #ff900e;
  padding: 40px 30px;
}
.facts-card-container .card-title {
  font-weight: 600;
  color: #424242;
}

/* justify-content: space-around;
  align-content: center;
  flex-wrap: wrap; */

.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
}

/* our sponsors section style */
.sponsors {
  text-align: center;
}
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.sponsors-img-container img {
  width: 165px;
}

/* responsive style */
/* mobile devices */

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  .teams-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .sponsors-img-container {
    flex-direction: column;
    align-items: center;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    display: flex;
    flex-direction: column;
  }
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-container {
    flex-direction: column;
  }

  .sponsors-img-container {
    flex-direction: column;
    align-items: center;
  }
}
